<!-- <p>child works!</p> -->

<!-- <p>user Id :{{user.userId}}</p>
<p>user Name :{{user.userName}}</p> -->
<!-- <p>{{user}}</p> -->
<!-- <p>{{user}}</p> -->
<!-- <p>user Id:{{user.userId}}</p>
<p>user Name :{{user.userName}}</p> -->

<!-- <p>userId:{{user.userId}}</p>
<p>userName:{{user.userName}}</p>

<p>{{user.userId}}</p>
<p>{{user.userName}}</p> -->



<!-- <button (click)="clicked()"> click me</button>
<input type="text"[(ngModel)]="value"> -->

<button (click)="clicked()">click me</button>
<input type="text"[(ngModel)]="value">